!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sliar
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = link_to "Sign out", destroy_user_session_path, method: :delete
    = yield
